    <div *ngIf="type==='featuredProduct'" class="container relative featured-product">
      <h2>Featured Product</h2>
      <p>{{ data.name }}</p>
      <section class="py-8 bg-white md:py-16  antialiased">
        <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
          <div class="lg:grid lg:grid-cols-2 lg:gap-8 xl:gap-16">
            <div class="shrink-0 max-w-md lg:max-w-lg mx-auto">
              <img class="w-full dark:hidden" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front.svg" alt="" />
              <img class="w-full hidden dark:block" src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front-dark.svg" alt="" />
            </div>
  
            <div class="mt-6 sm:mt-8 lg:mt-0">
              <h1
                class="text-xl font-semibold text-gray-900 sm:text-2xl ]"
              >
                Apple iMac 24" All-In-One Computer, Apple M1, 8GB RAM, 256GB SSD,
                Mac OS, Pink
              </h1>
              <div class="mt-4 sm:items-center sm:gap-4 sm:flex">
                <p
                  class="text-2xl font-extrabold text-gray-900 sm:text-3xl "
                >
                  $1,249.99
                </p>
  
                <div class="flex items-center gap-2 mt-2 sm:mt-0">
                  <div class="flex items-center gap-1">
                    <svg
                      class="w-4 h-4 text-yellow-300"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-yellow-300"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-yellow-300"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-yellow-300"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                    <svg
                      class="w-4 h-4 text-yellow-300"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="currentColor"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
                      />
                    </svg>
                  </div>
  
                </div>
              </div>
  
              <div class="mt-6 sm:gap-4 sm:items-center sm:flex sm:mt-8">
                <a
                  href="#"
                  title=""
                  class="flex items-center justify-center py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-100 "
                  role="button"
                >
                  <svg
                    class="w-5 h-5 -ms-2 me-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z"
                    />
                  </svg>
                  Add to favorites
                </a>
  
                <a
  
                  title=""
                  class="text-black mt-4 sm:mt-0 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5   flex items-center justify-center"
                  role="button"
                >
                  <svg
                    class="w-5 h-5 -ms-2 me-2"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M4 4h1.5L8 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm.75-3H7.5M11 7H6.312M17 4v6m-3-3h6"
                    />
                  </svg>
  
                  Add to cart
                </a>
              </div>
  
              <hr class="my-6 md:my-8 border-gray-200 dark:border-gray-800" />
  
              <p class="mb-6 text-gray-500 dark:text-gray-400">
                Studio quality three mic array for crystal clear calls and voice
                recordings. Six-speaker sound system for a remarkably robust and
                high-quality audio experience. Up to 256GB of ultrafast SSD storage.
              </p>
  
              <p class="text-gray-500 dark:text-gray-400">
                Two Thunderbolt USB 4 ports and up to two USB 3 ports. Ultrafast
                Wi-Fi 6 and Bluetooth 5.0 wireless. Color matched Magic Mouse with
                Magic Keyboard or Magic Keyboard with Touch ID.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  
   
  
    <section *ngIf="type==='productSection'" class="collection">
      <div class="container relative">
          <div class="grid grid-cols-1 justify-center text-center mb-6">
              <h5 class="font-semibold text-3xl leading-normal mb-4">Featured Collections</h5>
              <p class="text-slate-400 max-w-xl mx-auto">Shop the latest products from the most popular collections</p>
          </div><!--end grid-->
  
          <div class="grid md:grid-cols-12 grid-cols-1 pt-6 gap-6">
              <div class="lg:col-span-4 md:col-span-6 md:order-1 order-2">
                  <div class="relative overflow-hidden group rounded-md shadow dark:shadow-gray-800">
                      <a class="">
                          <img src="assets/images/categories/ladies-ware.jpg" class="h-full w-full object-cover xl:h-[738.66px] lg:h-[614.66px] rounded-md group-hover:scale-110 duration-500" alt="">
                          <span class="bg-white dark:bg-slate-900 group-hover:text-orange-500 py-2 px-4 rounded-md shadow dark:shadow-gray-800 absolute mx-4 bottom-4 text-lg font-medium">Ladies Wear</span>
                      </a>
                  </div>
              </div><!--end content-->
  
              <div class="lg:col-span-4 md:col-span-12 lg:order-2 order-3">
                  <div class="grid lg:grid-cols-1 md:grid-cols-2 grid-cols-1 gap-6">
                      <div class="relative overflow-hidden group rounded-md shadow dark:shadow-gray-800">
                          <a class="">
                              <img src="assets/images/categories/chappal-shoes.jpg" class="group-hover:scale-110 duration-500" alt="">
                              <span class="bg-white dark:bg-slate-900 group-hover:text-orange-500 py-2 px-4 rounded-md shadow dark:shadow-gray-800 absolute mx-4 bottom-4 text-lg font-medium">Chappal & Shoes</span>
                          </a>
                      </div><!--end content-->
  
                      <div class="relative overflow-hidden group rounded-md shadow dark:shadow-gray-800">
                          <a class="">
                              <img src="assets/images/categories/sunglasses.jpg" class="group-hover:scale-110 duration-500" alt="">
                              <span class="bg-white dark:bg-slate-900 group-hover:text-orange-500 py-2 px-4 rounded-md shadow dark:shadow-gray-800 absolute mx-4 bottom-4 text-lg font-medium">Sunglasses</span>
                          </a>
                      </div><!--end content-->
                  </div><!--end grid-->
              </div><!--end content-->
  
              <div class="lg:col-span-4 md:col-span-6 lg:order-3 order-2">
                  <div class="relative overflow-hidden group rounded-md shadow dark:shadow-gray-800">
                      <a class="">
                          <img src="assets/images/categories/mens-ware.jpg" class="h-full w-full object-cover xl:h-[738.66px] lg:h-[614.66px] rounded-md group-hover:scale-110 duration-500" alt="">
                          <span class="bg-white dark:bg-slate-900 group-hover:text-orange-500 py-2 px-4 rounded-md shadow dark:shadow-gray-800 absolute mx-4 bottom-4 text-lg font-medium">Mens Wear</span>
                      </a>
                  </div>
              </div><!--end content-->
          </div><!--end grid-->
      </div><!--end container-->
      </section>

  
    <section  *ngIf="type==='collection'" class="product">
      <div class="container relative md:mt-24 mt-16">
          <div class="grid grid-cols-1 justify-center text-center mb-6">
              <h5 class="font-semibold text-3xl leading-normal mb-4">New Arrival Products</h5>
              <p class="text-slate-400 max-w-xl mx-auto">Shop the latest products from the most popular collections</p>
          </div><!--end grid-->
          <div *ngIf="product && product.length > 0">
  
          </div>
          <!-- @if(product && product.length > 0){ -->
          <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-1 grid-cols-1 pt-6 gap-6">
            <!-- @for (item of product; track $index) { -->
              <!-- @for (item of product | slice : 0 : slice; track $index) { -->
  
              <div *ngFor="let item of product">
  
                <div   class="group">
                  <div class="relative overflow-hidden shadow dark:shadow-gray-800 group-hover:shadow-lg group-hover:dark:shadow-gray-800 rounded-md duration-500">
                      <img [src]="item.image" class="group-hover:scale-110 duration-500" alt="">
  
                      <div class="absolute -bottom-20 group-hover:bottom-3 start-3 end-3 duration-500">
                          <a  class="py-2 px-5 inline-block font-semibold tracking-wide align-middle duration-500 text-base text-center bg-slate-900 text-white w-full rounded-md" (click)="addProductToCart()">Add to Cart</a>
                      </div>
  
                      <ul class="list-none absolute top-[10px] end-4 opacity-0 group-hover:opacity-100 duration-500 space-y-1">
                          <li><a class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-center rounded-full bg-white text-slate-900 hover:bg-slate-900 hover:text-white shadow"><i data-feather="heart" class="size-4"></i></a></li>
                          <li class="mt-1"><a  [routerLink]="['/product-detail-one', item?._id]" class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-center rounded-full bg-white text-slate-900 hover:bg-slate-900 hover:text-white shadow"><i data-feather="eye" class="size-4"></i></a></li>
                          <li class="mt-1"><a class="size-10 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-center rounded-full bg-white text-slate-900 hover:bg-slate-900 hover:text-white shadow"><i data-feather="bookmark" class="size-4"></i></a></li>
                      </ul>
  
                      <ul *ngIf="item.tag" class="list-none absolute top-[10px] start-4">
                          <li><a class="bg-orange-600 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5">{{item.tagText}}</a></li>
                      </ul>
  
                      <ul *ngIf="item.tagText === 'New' " class="list-none absolute top-[10px] start-4">
                          <li><a class="bg-red-600 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5">{{item.tagText}}</a></li>
                      </ul>
  
                      <ul *ngIf="item.tagText === 'Featured' "  class="list-none absolute top-[10px] start-4">
                          <li><a class="bg-emerald-600 text-white text-[10px] font-bold px-2.5 py-0.5 rounded h-5">{{item.tagText}}</a></li>
                      </ul>
                  </div>
  
                  <div class="mt-4">
                      <a routerLink="/product-detail-one" class="hover:text-orange-500 text-lg font-medium">{{item.name}}</a>
                      <div class="flex justify-between items-center mt-1">
                          <p>{{item.desRate}}<del class="text-slate-400">{{item.price}}</del></p>
                          <ul class="font-medium text-amber-400 list-none">
                              <!-- <li class="inline"><i class="mdi mdi-star"></i></li>
                              <li class="inline"><i class="mdi mdi-star"></i></li>
                              <li class="inline"><i class="mdi mdi-star"></i></li>
                              <li class="inline"><i class="mdi mdi-star"></i></li>
                              <li class="inline"><i class="mdi mdi-star"></i></li> -->
                              <!-- @for (star of [1,2,3,4,5]; track $index) { -->
                                <!-- <li  class="inline" *ngFor="let star of [1,2,3,4,5]">
                                  <i class="mdi mdi-star" [ngClass]="{'text-amber-400': $index < item.numReviews, 'text-gray-300': $index >= item.numReviews}"></i>
                                </li> -->
  
                              <!-- } -->
                          </ul>
                      </div>
                  </div>
                </div>
              </div>
  
  
      <!-- } -->
  
  
  
  
            <!-- } -->
          </div><!--end grid-->
        <!-- } -->
      </div><!--end container-->
      </section>  
  